*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
}.black{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(0, 0, 0, 0.636);
}
.back{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%,-50%);

}
.logo img{
    width: 500px;
}
.login_form{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%,-50%);
    background: rgba(249, 9, 69, 0.784);
    color: white;
    padding: 2em 3em 2em 3em;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(2, 54, 48, 0.623);
    width: auto;
    
}
.form{
    display: flex;
    flex-direction: column;
}
.title{
    margin: 5px 0px 1px 0px;
    font-size: 2em;
    font-weight: 700;
}

.sign{
    margin: 8px 0px 25px 0px;
    color: rgba(255, 255, 255, 0.757);
}

.label{
    margin-bottom: 12px;
    font-size: 1.3em;
}
.input{
    border-radius: 9px;
    border: none;
    padding: 15px;
    font-size: 1em;
    margin-bottom: 16px;
    transition: all 0.2s;
    outline: none;
}
.input:focus{
    background: rgb(23, 10, 47);
    color: white;
}
.btn{
    display: flex;
    justify-content: center;
    margin: 13px 0px;
}
.btnn{
    background:#261e32;
    border: none;
    outline: none;
    padding: 9px 30px 12px 30px ;
    font-size: 1.2em;
    border-radius: 7px;
    color: white;
    transition: all 0.2s;
}
.btnn:hover{
    background: rgb(255, 255, 255);
    color: #261e32;
    font-weight: 900;
    padding: 9px 35px 12px 35px;
}
hr{
    border: 1px solid rgba(248, 180, 180, 0.499);
    margin: 12px 0px;
}
.or{
    margin: 12px;
    text-align: center;
}
.orr{
    color: rgba(255, 255, 255, 0.727);
}
a{
    color: rgba(50, 1, 68, 0.489);
}
a:hover{
    color: rgb(197, 251, 216);
}
.another{
    border: 3px solid rgb(255, 255, 255);
    padding: 7px 15px 10px 15px;
    margin: 16px 16px 0px 16px;
    background: rgba(255, 0, 0, 0);
    border-radius: 10px;
    font-size: 1.1rem;
    color: white;
}
.another:hover{
    background: #261e32;
}
.anotherb:hover{
    margin-left: 1000px;
}
@media screen and (max-width:770px){
    .login_form{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 20rem;
        padding: 25px;
    }
    .logo{
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%,0%);
    }
    .logo img{
        width: 100%;
    }
}